<ion-header [translucent]="true">
</ion-header>

<style>
  /* Importar la fuente Montserrat */
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

  ion-card-title {
    font-family: 'Tilt Prism', cursive;
    font-size: 80px;
    display: flex;
    justify-content: center;

  }

  .container {
    display: flex;
    justify-content: center;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro */
    height: 150vh;
    /* Opcional: ajusta la altura del contenedor al 100% del viewport */
  }

  /*este es el fondo*/
  ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
  }
</style>

<ion-content class="fondo" [fullscreen]="true">
  <div class="container">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <form id="registration-form">

          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" name="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Ingrese su Rut</ion-label>
            <ion-input type="text" name="rut" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input type="number" name="edad" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Pregunta de seguridad</ion-label>
            <ion-select>
              <ion-select-option >¿Cual es tu pelicula favorita?</ion-select-option>
              <ion-select-option >¿Nombre de tu mascota?</ion-select-option>
              <ion-select-option >¿Color favorito?</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Respuesta</ion-label>
            <ion-input type="text" name="respuesta" required></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="text" name="contrasena" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="text" name="cContrasena" required></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit">Registrarse</ion-button>
          <p1 [routerLink]="['/inicio-sesion']"> ¿Ya tienes una cuenta? Inicia sesión aquí</p1><br>
          
        </form>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>