<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
  <!--################################################PRODUCTOS########################################-->

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/SMARTWATCH/rs3.jpeg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo"> Reloj Smartwatch morado</ion-card-title>
        <br>
        <p class="subti" style="font-size: 25px;">Precio: $360.000</p>
        <p class="subti">Descripción:</p>
        <p>El Reloj Smartwatch Morado fusiona
          moda y funcionalidad. Con pantalla
          táctil, se conecta a tu teléfono
          para notificaciones y monitoreo
          de salud. Su distintivo color
          morado y opciones de personalización
          lo convierten en un accesorio elegante y útil.</p>
        <ion-button [routerLink]="['/carrito']">Agregar al carrito</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
  <app-componente2></app-componente2>
</ion-content>