/* Estilos para las imágenes */
ion-img {
    width: 300px;
    height: 300px;
}

/* Estilos generales para las tarjetas */
ion-card {
    background-color: #222222;
    width: fit-content;
    height: max-content;
}

/* Estilos para las tarjetas del administrador */
.ion-grid ion-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.ion-grid ion-card {
    margin: 1px;
    max-width: 300px; /* Ajusta el ancho de las tarjetas del administrador */
    max-height: 220px;
}

/* Estilos para las tarjetas de productos */
ion-grid ion-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

ion-grid ion-card {
    margin: 10px;
    max-width: 300px; /* Ajusta el ancho de las tarjetas de productos */
}

ion-img.img-container {
    max-width: 100%;
    height: auto;
}

/* Estilos para los títulos y textos */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

ion-card-content {
    margin: auto;
}

p {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: 'ADLaM Display', cursive;
}

ion-card-title {
    color: white;
    font-size: 50px;
    margin: 2px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

.ion-title {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 15px;
    text-align: left;
    margin: 5px;
}

/* Estilos para el fondo */
ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}

/* Estilos para las pipes (tabla) */
td {
    color: white;
    font-size: 30px;
}
