<ion-header [translucent]="true">
  <ion-toolbar>
    <!--LOGO DEL CARRITO-->
    <div class="demo-section" slot="end">
      <mat-icon matBadge="0" matBadgeColor="primary" [routerLink]="['/carrito']"><ion-icon style="width: 30px; height: 30px; margin-right: 80px;" name="cart-outline"></ion-icon></mat-icon>
    </div>
    <!--Menu de la busqueda-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--El buscador-->
    <div class="search-container">
      <ion-searchbar class="center-search" animated="true" placeholder="Buscar"></ion-searchbar>
    </div>
    <!--este es el menu del usuario-->
    <ion-chip id="popover-button" slot="end" size="90px">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Cuenta</ion-label>
    </ion-chip>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/datos-personales']">Perfil</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/']">Mis compras</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/home']">Cerrar Sesión</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!--
  VISTA DEL ADMIN
  <ion-grid class="ion-grid">
    <ion-row class="ion-row">
      <ion-card class="ion-card">
        <div>
          <ion-card-title>Bienvenido Administrador</ion-card-title>
          <ion-card-subtitle>¿Que desea hacer?</ion-card-subtitle>
          <br>
          <ion-button expand="full" [routerLink]="['/productoadmin']" type="submit">Agregar productos</ion-button>
          <ion-button expand="full" [routerLink]="['/tienda']" type="submit">Ver usuarios</ion-button>

        </div>
      </ion-card>
    </ion-row>
  </ion-grid>-->
  <!--VISTA DEL USUARIO-->

  <ion-grid>
    <ion-card-title>TimeTech Audible</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ag3']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag3.webp" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos gamers<br>rojos con negro</ion-card-title>
            <ion-card-content>
              <p>$50.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>

      <!--PRIMER PRODUCTO-->
      <p [routerLink]="['/ag4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag4.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos gamers<br>negro con anaranjado</ion-card-title>
            <ion-card-content>
              <p>$75.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ag5']">
      <ion-card>
        <ion-img src="assets/AUDIFONOS GAMERS/ag5.jpeg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Audifonos gamers<br>lila con blanco</ion-card-title>
          <ion-card-content>
            <p>$35.000</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>

    </ion-row>

  </ion-grid>
</ion-content>