/* Estilos para las imágenes */
ion-img {
    width: auto;
    height: auto;
}

/* Estilos generales para las tarjetas */
ion-card {
    box-shadow: 6px 2px 6px #79F2E6;
    background-color: #010626;
    width: fit-content;
    height: max-content;
}

/* Estilos para las tarjetas del administrador */
.ion-grid ion-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.ion-grid ion-card {
    margin: 1px;
    max-width: 300px; /* Ajusta el ancho de las tarjetas del administrador */
    max-height: 220px;
}

/* Estilos para las tarjetas de productos */
ion-grid ion-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

ion-grid ion-card {
    margin: 10px;
    max-width: 350px; /* Ajusta el ancho de las tarjetas de productos */
}

ion-img.img-container {
    max-width: 100%;
    height: auto;
}

/* Estilos para los títulos y textos */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

ion-card-content {
    margin: auto;
}

ion-card-title {
    border-color: #532473;
    color: white;
    font-size: 35px;
    margin: 2px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

.ion-title {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    text-align: left;
    margin: 3px;
}

/* Estilos para el fondo */
ion-content {
    --background: url(https://w0.peakpx.com/wallpaper/955/141/HD-wallpaper-purple-science-tech.jpg);
}

/* Estilos para las pipes (tabla) */
td {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
}
//botones:
ion-button{
    --background: #7630D9;
}
.borrar{
    --background: red;
}