<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>


<ion-content [fullscreen]="true">
  
  <!--VISTA DEL ADMIN-->
  <ion-grid class="ion-grid" *ngIf="rol == 2" >
    <ion-row class="ion-row">
      <ion-card class="ion-card">
        <div>
          <ion-card-title>Bienvenido Administrador</ion-card-title>
          <ion-card-subtitle>¿Que desea hacer?</ion-card-subtitle>
          <br>
          <ion-button expand="full" [routerLink]="['/agregar-p-admin']" >Agregar productos</ion-button>
          <ion-button expand="full" [routerLink]="['./tienda']" type="submit">Ver usuarios</ion-button>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
  <!--VISTA DEL USUARIO-->

  <ion-grid>
    <ion-card-title style="font-size: 80px;">TimeTech Audible</ion-card-title>
    <br>
    <ion-card-title>Audifonos Gamers</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ag3']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag3.webp" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos gamers<br>rojos con negro</ion-card-title>
            <ion-card-content>
              <p>$50.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>

      <!--PRIMER PRODUCTO-->
      <p [routerLink]="['/ag4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag4.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos gamers<br>negro con anaranjado</ion-card-title>
            <ion-card-content>
              <p>$75.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ag5']">
      <ion-card>
        <ion-img src="assets/AUDIFONOS GAMERS/ag5.jpeg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Audifonos gamers<br>lila con blanco</ion-card-title>
          <ion-card-content>
            <p>$35.000</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card-title>Audifonos Inalámbricos</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ai1']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a1.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>morados</ion-card-title>
            <ion-card-content>
              <p>$39.990</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/ai4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a4.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>azules</ion-card-title>
            <ion-card-content>
              <p>$42.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ai6']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a6.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>verdes</ion-card-title>
            <ion-card-content>
              <p>$269.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-card-title>Relojes Analógicos</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
    <p [routerLink]="['/r3']">
      <ion-card>
        <ion-img src="assets/RELOJES ANALOGO/r3.webp" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Analógico<br>negro con azules</ion-card-title>
          <ion-card-content>
            <p>$119.000</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/r4']">
      <ion-card>
        <ion-img src="assets/RELOJES ANALOGO/r4.jpeg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Analógico  <br>negro fondo azul</ion-card-title>
          <ion-card-content>
            <p>$194.990</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/r5']">
      <ion-card>
        <ion-img src="assets/RELOJES ANALOGO/r5.jpg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Analógico <br>amarillo con negro</ion-card-title>
          <ion-card-content>
            <p>$289.000</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-card-title>Relojes Digitales</ion-card-title>
    <ion-row>
      <!--PRIMER PRODUCTO-->
      <p [routerLink]="['/rd2']">
      <ion-card>
        <ion-img src="assets/digitales/rd2.jpeg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Digital negro<br> con borde azul</ion-card-title>
          <ion-card-content>
            <p>$61.990</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/rd5']">
      <ion-card>
        <ion-img src="assets/digitales/rd5.jpg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Digital<br>negro</ion-card-title>
          <ion-card-content>
            <p>$54.000</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/rd6']">
      <ion-card>
        <ion-img src="assets/digitales/rd6.jpeg" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">Reloj Digital<br>blanco</ion-card-title>
          <ion-card-content>
            <p>$194.550</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </p>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card-title>Relojes Smartwatch</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/rs1']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs1.webp" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>Azul</ion-card-title>
            <ion-card-content>
              <p>$139.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/rs3']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs2.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>anaranjado</ion-card-title>
            <ion-card-content>
              <p>$240.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/rs5']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs3.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>morado</ion-card-title>
            <ion-card-content>
              <p>$360.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>

</ion-content>