<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- LOGO DEL CARRITO -->
    <div class="demo-section" slot="end">
      <ion-icon style="width: 35px; height: 35px; color: #0D0D0D;" name="cart-outline" [routerLink]="['/carrito']"></ion-icon>
    </div>
    
  
    <!-- MENÚ DE BÚSQUEDA -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: #0D0D0D;;"></ion-menu-button>
    </ion-buttons>
  
    <!-- EL BUSCADOR -->
    <div class="search-container">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchProducts()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Vista del ADMIN -->
  <ion-grid class="ion-grid" *ngIf="rol == 2">
    <ion-row>
      <ion-card>
        <ion-card-title style="font-size: 40px;">Bienvenido Administrador</ion-card-title>
        <ion-row>
          <ion-button class="center-buttons"  [routerLink]="['/lista-usuario']">Ver usuarios</ion-button>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
  <!-- Vista del USUARIO -->
  <ion-grid>
    <ion-card-title>TimeTech Audible</ion-card-title>
    
    <br>
    <!-- Mostrar mensaje de error si no se encuentran productos -->
    <div *ngIf="noProductFound()" class="no-product-message">No existe ese producto</div>

    <!-- PRIMER PRODUCTO -->
    <ion-row>
      <ion-card *ngFor="let producto of arregloProductosResultado">
        <ion-img [src]="producto.foto" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">{{ producto.nombreProducto }}</ion-card-title>
          <ion-card-content>
            <td>{{ producto.precio | currency:'$':true:'4.0-0' }}</td>
            <ion-button class="center-buttons" *ngIf="rol === 1" (click)="detalle(producto)">Detalles</ion-button>
            <ion-button class="center-buttons" *ngIf="rol === 2" (click)="modificar(producto)">Modificar</ion-button>
            <ion-button class="borrar" *ngIf="rol === 2" (click)="eliminar(producto)" >Eliminar</ion-button>
            <ion-button *ngIf="rol === 1"  (click)="agregarAlCarrito(producto)">Agregar</ion-button>
          </ion-card-content>
        </ion-card-header>
      </ion-card>      
    </ion-row>
  </ion-grid>
  <br><br><br>
  <app-componente2></app-componente2>
</ion-content>

