<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Menu de la busqueda-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--El buscador-->
    <ion-searchbar slot="end" animated="true" placeholder="Buscar"></ion-searchbar>
    <!--este es el menu del usuario-->
    <ion-chip id="popover-button" slot="end" size="90px">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Cuenta</ion-label>
    </ion-chip>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/datos-personales']">Perfil</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/']">Mis compras</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/home']">Cerrar Sesión</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<!--#############################################PRODUCTOS################################################-->


<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <p [routerLink]="['/articulo1']">
        <ion-card>
          <ion-img class="img-container" src="assets/s1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Reloj inteligente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Precio: $25.00</p>
            <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
          </ion-card-content>
        </ion-card>
      </p>
      <ion-card>
        <ion-img class="img-container"
          src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Reloj inteligente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Precio: $25.00</p>
          <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>


</ion-content>