<ion-header [translucent]="true">
  <ion-toolbar size="80px">
    <ion-icon name="person-circle-sharp" size="large" id="popover-button"></ion-icon>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false">Option 1</ion-item>
            <ion-item [button]="true" [detail]="false">Option 2</ion-item>
            <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<style>
  .img-container {
    width: 250px;
    height: 250px;
    display: block;
    text-align: center;   
  }

  ion-card {
    width: 250px;
    justify-content: center;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>


</ion-content>