<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .img-container {
    width: 250px;
    height: 250px;
    display: block;
    text-align: center;

  }

  ion-card {
    width: 250px;
    justify-content: center;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-row>
    <ion-card>
      <ion-img class="img-container"
        src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Reloj inteligente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Precio: $25.00</p>
        <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img class="img-container"
        src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Reloj inteligente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Precio: $25.00</p>
        <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img class="img-container"
        src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Reloj inteligente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Precio: $25.00</p>
        <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img class="img-container"
        src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Reloj inteligente</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Precio: $25.00</p>
        <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-img class="img-container"
        src="https://w7.pngwing.com/pngs/440/569/png-transparent-smartwatch-subscriber-identity-module-android-touchscreen-smart-watches-gadget-electronics-watch-accessory.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Reloj inteligente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Precio: $25.00</p>
        <ion-button expand="full" color="primary" [routerLink]="['/articulo1']">Visualizar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>