//ESTO ES DE LA CONTRASEÑA
.example-container2 mat-form-field+mat-form-field {
  margin-left: 0;
}

.example-right-align {
  text-align: right;
}

.example-right-align {
  text-align: right;
}

//ESTO ES DEL CORREO
.example-container mat-form-field+mat-form-field {
  margin-left: 0;
}

//ESTO ES DE LA CARD:
ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 460px;
  max-width: 350px;
  margin: 150px auto;
  border-radius: 20px;
  background: #222222;
}

//el fondo de la aplicacion:
ion-content {
  --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}

//LA IMAGEN:
img {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: auto;
}
//LAS P:
p {
font-size: 15px;
}
//LAS A
a{
  color: #797575;
}
//CUANDO SE PONGA PEQUEÑA LA PANTALLA
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px){

  ion-card {
    height: 500px;
    width: 400px;
    background: #222222;
  }

}