<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
  <!--################################################PRODUCTOS########################################-->

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/RELOJES ANALOGO/r4.jpeg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo">Reloj Analógico negro fondo azul</ion-card-title>
        <br>
        <p class="subti" style="font-size: 25px;">Precio: $194.990</p>
        <br>
        <p class="subti">Descripción:</p>
        <p>Reloj analógico con esfera en tono negro y
           fondo azul, fusiona elegancia y un toque de
            originalidad. Ideal para aquellos que 
            buscan un reloj clásico pero con un detalle 
            único que resalta su estilo..</p>
          <br>
          <ion-button [routerLink]="['/carrito']">Agregar al carrito</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>