<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>

<!--################################################PRODUCTOS########################################-->
<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/AUDIFONOS BLUTU/a6.jpg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo">Audífonos Bluetooth verde</ion-card-title>
        <p class="subti" style="font-size: 25px;">Precio: $269.000</p>
        <p class="subti">Descripción:</p>
        <p>Estos audífonos,
          brindan conectividad inalámbrica
          con un toque de naturaleza. Perfectos
          para quienes desean comodidad y un
          estilo distintivo en sus dispositivos de audio.</p>
        <ion-button [routerLink]="['/carrito']">Agregar al carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <app-componente2></app-componente2>
</ion-content>