@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

ion-content {
    --background: white;
}

/* En tu archivo .scss o .css */
ion-card {
    background-color: #050025;
    border: 3px solid #050025;
    width: max-content;
    height: max-content;
}

/* Contenedor flex para la imagen y el contenido */
ion-card div {
    display: flex;
    align-items: center;
}

/* Estilo para la imagen dentro del contenedor flex */
ion-card ion-img {
    width: 200px;
    height: max-content;
}

ion-card-title {
    font-size: 17px;
    color: white;
    font-family: 'Montserrat';
    margin: 5px;
}

p {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
}


ion-title{
    text-align: center;
    font-family: 'Montserrat';
}

ion-icon{
    margin-left: 10px;
    color: #050025;
}