<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- LOGO DEL CARRITO -->
    <div class="demo-section" slot="end">
      <mat-icon [matBadge]="0" matBadgeColor="primary" [routerLink]="['/carrito']" aria-hidden="false">
        <ion-icon style="width: 30px; height: 30px; margin-right: 80px; color: #0D0D0D;;" name="cart-outline"></ion-icon>
      </mat-icon>
    </div>
  
    <!-- MENÚ DE BÚSQUEDA -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: #0D0D0D;;"></ion-menu-button>
    </ion-buttons>
  
    <!-- EL BUSCADOR -->
    <div class="search-container">
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchProducts()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
<!--################################################PRODUCTOS########################################-->

<ion-content class="ion-padding">
  <div class="card-container">
    <!-- Utiliza *ngFor para recorrer arregloProductosResultado y mostrar cada venta -->
    <ion-card *ngFor="let venta of arregloProductosResultado" class="custom-card">
      <!-- Asegúrate de ajustar los siguientes campos según la estructura de tu objeto de venta -->
      <ion-card-content class="card-content">
        <ion-card-title class="titulo">ID Venta: {{ venta.idVenta }}</ion-card-title>
        <p class="subti">Total: ${{ venta.totalV }}</p>
        <p class="subti">Carrito: {{ venta.carritoV }}</p>
        <p class="subti">Fecha: {{ venta.fechaV }}</p>
        <p class="subti">ID Usuario: {{ venta.idUsuario }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <app-componente2></app-componente2>
</ion-content>


