<ion-header [translucent]="true">
</ion-header>
<ion-content class="fondo" [fullscreen]="true">
  <ion-grid>
    <ion-row class="center-row">
      <ion-card class="input-card">
        <ion-card-content class="input-container">
          <ion-card-title>Recuperar Contraseña</ion-card-title>
          <form id="registration-form">

            <!-- Pregunta de seguridad -->
            <ion-select label="Pregunta de Seguridad" label-placement="floating" fill="outline"
              [(ngModel)]="pregunta" required>
              <ion-select-option *ngFor="let pregunta of arregloPreguntas" value="{{ pregunta.idPregunta }}">
                {{pregunta.nombrePregunta }}</ion-select-option>
            </ion-select><br>
            
            <ion-input label="Respuesta:" type="text" label-placement="floating" fill="outline" placeholder="Respuesta"
              [(ngModel)]="respuesta"></ion-input>

            <ion-button class="center-buttons" (click)="validarPregunta()">Validar Pregunta</ion-button>

            <ion-button class="center-buttons" (click)="validarRes()">Guardar contraseña</ion-button>

            <!--NUEVA-->
            <ion-input label="Nueva contraseña:" type="password" label-placement="floating" fill="outline"
              placeholder="**************"></ion-input>
            <!--REPETIR-->
            <ion-input label="Repetir contraseña:" type="password" label-placement="floating" fill="outline"
              placeholder="**************"></ion-input>
            <!--BOTON-->
            <ion-button class="center-buttons">Guardar contraseña</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>