/* FONDO */
ion-content {
  --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}

ion-card {
  height: 550px;
  width: 500px;
  background: #222222;
}

/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

ion-card-title {
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

/* Ajustes para dispositivos específicos */
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
  ion-card {
    height: 450px;
    width: 500px;
    background: #222222;
  }

  ion-card-title {
    font-size: 30px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .container {
    height: 90vh; /* Ajusta la altura del contenedor para pantallas más pequeñas */
  }
}

/* Estilos para botones */
.center-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Agrega margen superior si es necesario */
}
