/* este es el fondo */
ion-content {
  --background: url(https://w0.peakpx.com/wallpaper/939/832/HD-wallpaper-deep-purple-blue-design-pink-premium.jpg);
}

ion-input {
  width: 100%;
}

/* Centrar el contenido verticalmente y horizontalmente */
.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Color de fondo */
}

/* Estilo para las tarjetas de entrada */
.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  max-width: 350px;
  margin: 150px auto;
  border-radius: 20px;
  box-shadow: 0px 2px 6px #79F2E6;
  background: #010626;
}

/* Estilo para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Personaliza el borde y el padding de los campos de entrada */
ion-input {
  --padding-start: 15px;
  --padding-end: 15px;
  --border-radius: 8px;
  line-height: 2.5;
  /* Ajusta el valor según tus preferencias */
  margin-bottom: 15px;
  background-color: #222222;
}

ion-card-title {
  color: white;
  text-align: center;
  font-size: 35px;
  /* Ajusta el tamaño del título según tus preferencias */
}

p {
  text-align: justify;
  color:white;
}
a{
  color:white;
}

ion-button {
  --background: #79F2E6;
  display: flex;
  justify-content: center;
  align-items: center;
}