<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--################################################PRODUCTOS########################################-->
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-card-title>Relojes Smartwatch</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/rs1']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs1.webp" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>Azul</ion-card-title>
            <ion-card-content>
              <p>$139.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/rs3']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs2.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>anaranjado</ion-card-title>
            <ion-card-content>
              <p>$240.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/rs5']">
        <ion-card>
          <ion-img src="assets/SMARTWATCH/rs3.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Smartwatch<br>morado</ion-card-title>
            <ion-card-content>
              <p>$360.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>
  <app-componente2></app-componente2>
</ion-content>