<ion-header [translucent]="true">
  <ion-toolbar>
    <!--LOGO DEL CARRITO-->
    <div class="demo-section" slot="end">
      <mat-icon matBadge="0" matBadgeColor="primary" [routerLink]="['/carrito']"><ion-icon style="width: 30px; height: 30px; margin-right: 80px;" name="cart-outline"></ion-icon></mat-icon>
    </div>
    <!--Menu de la busqueda-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--El buscador-->
    <div class="search-container">
      <ion-searchbar class="center-search" animated="true" placeholder="Buscar"></ion-searchbar>
    </div>
    <!--este es el menu del usuario-->
    <ion-chip id="popover-button" slot="end" size="90px">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Cuenta</ion-label>
    </ion-chip>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/datos-personales']">Perfil</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/']">Mis compras</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/home']">Cerrar Sesión</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Carrito de compras!</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <ion-card size="4">
              <ion-img src="assets/apple1.jpg" alt="Producto"></ion-img>
              <ion-card-header>
                <ion-card-title>Apple watch</ion-card-title>
                <p class="card-text">Precio: $100.000</p>
                <!--Botones para la cantidad de los productos-->
                <ion-button shape="round" color="success">+</ion-button>
                <ion-button shape="round" color="success">-</ion-button>
                <ion-input type="" required readonly class="readonly-input" value="Cantidad:1"></ion-input>
              </ion-card-header>
              <ion-card-content>
                <ion-button color="danger">Eliminar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card size="4">
              <ion-img src="assets/s1.jpg" alt="Producto"></ion-img>
              <br>
              <ion-card-header>
                <ion-card-title>Samsung watch</ion-card-title>
                <p class="card-text">Precio: $85.000</p>
                <ion-button shape="round" color="success">+</ion-button>
                <ion-button shape="round" color="success">-</ion-button>
                <ion-input type="" required readonly class="readonly-input" value="Cantidad:1"></ion-input>
              </ion-card-header>
              <ion-card-content>
                <ion-button color="danger">Eliminar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>


        <ion-card>
          <ion-item>
            <ion-label position="floating">Seleccione sucursal de retiro</ion-label>
            <ion-select>
              <ion-select-option>Sucursal paseo Ahumada 232</ion-select-option>
              <ion-select-option>Sucursal Providencia #843, piso 2, local 24</ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label position="floating">¿Quien retirara el producto?</ion-label>
            <ion-select>
              <ion-select-option>Juan Perez</ion-select-option>
              <ion-select-option>Mauricio Perez</ion-select-option>
              <ion-select-option>Otro </ion-select-option>
              <ion-input type="text" name="pRetiro" required></ion-input>
            </ion-select>
          </ion-item>
        </ion-card>
      </ion-card-content>
      <br>
    </ion-card>
  </div>

</ion-content>