<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--#############################################PRODUCTOS################################################-->

<ion-content class="ion-padding" [fullscreen]="true">

  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/AUDIFONOS GAMERS/ag4.jpeg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo" style="font-size: 30px;">Audifonos gamers negro con naranja</ion-card-title>
        <br>
        <p class="subti" style="font-size: 25px;">Precio: $70.000</p>
        <p>Cantidad: 2 </p>
        <ion-button shape="round" color="medium">+</ion-button><ion-button shape="round" color="medium">-</ion-button>
        <br>
        <ion-button [routerLink]="['/carrito']">Finalizar compra</ion-button>
        <ion-button color="danger">eliminar productos</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>