<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-row>
          <ion-card-title>Carrito</ion-card-title>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-img class="img-container" src="assets/AUDIFONOS GAMERS/ag4.jpeg"></ion-img>

        </ion-col>
        <ion-col size="3">
          <ion-title>Precio</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title>Producto</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title>Cantidad</ion-title>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>