/* Estilos generales para las tarjetas */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* Ajusta el margen de pantalla */
  }
  
  .custom-card {
    background: #010626;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    align-items: center;
    width: 90%; /* Aumenta el ancho de la tarjeta al 70% del contenedor */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .card-image {
    width: 100%;
    max-width: 320px;
    object-fit: cover;
  }
  
  .card-content {
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px;
    text-align: left;
    width: 100%; /* Ajusta el ancho del contenido */
  }
  
  /* Estilos para los títulos y textos */
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  
  p {
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'ADLaM Display';
  }
  
  .subti {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  
  .titulo {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    text-align: left;
    margin: 5px;
  }
  .btn{
    --background: #79F2E6;
    color: #0d0d0d;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
    .btn {
      font-size: 25px;
    }
  
    .custom-card {
      align-items: center;
      flex-direction: column;
      width: 150%;
    }
  
    .card-content {
      text-align: left;
      flex: 1;
      padding: 20px;
    }
  
    .card-image {
      width: 100%;
      max-width: 650px;
      object-fit: cover;
    }
  
    .titulo {
      font-size: 30px; /* Ajusta el tamaño del título para pantallas más pequeñas */
    }
  
    p {
      font-size: 20px;
    }
    
    .subti {
      font-size: 20px;
    }
  }
  
  ion-card-title {
    color: white;
  }
  
  /* FONDO */
  ion-content {
    --background: url(https://w0.peakpx.com/wallpaper/955/141/HD-wallpaper-purple-science-tech.jpg);
  }
  