.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* Ajusta el margen de pantalla */
}

.custom-card {
    background: #222222;
    display: flex;
    align-items: center;
    width: 60%;
}

.card-image {
    width: 100%;
    /* Aumenta aún más el ancho de la imagen */
    max-width: 320px;
    object-fit: cover;
}

.card-content {
    flex: 10;
    padding: 20px;
    /* Agrega un poco de espacio alrededor del contenido */
    text-align: left;
    /* Centra el texto en pantallas más pequeñas */
    align-self: flex-start;
}

//titulos

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



p {
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'ADLaM Display';
}
.subti{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    text-align: left;
    margin: 5px;
}

    

@media(width:412px) or (width: 425px) or (width: 389px) {
    .btn{
        font-size: 25px;
    }
    .custom-card {
        align-items: center;
        /* Mantiene el contenido centrado verticalmente en pantallas grandes */
        flex-direction: column;
        /* Coloca el contenido en fila */
        width: 150%;
    }

    .card-content {
        text-align: left;
        /* Vuelve al alineamiento a la izquierda en pantallas más grandes */
        flex: 1;
        /* Ocupa el espacio restante */
        padding: 20px;
        /* Agrega un poco de espacio alrededor del contenido */
    }

    .card-image {
        width: 100%;
        /* Aumenta aún más el ancho de la imagen */
        max-width: 650px;
        object-fit: cover;
    }
    .titulo{
        color: white;
        font-family: 'DM Serif Display', serif;
        font-size: 55px;
        text-align: left;
        margin: 5px;
    }
    
    p{
        font-size: 20px;
    }
    .subti{
        font-size: 1opx;
    }
    
}
ion-card-title{
    color: white;
}
//FONDO 
ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}
