ion-menu::part(backdrop) {
  --ion-background-color: rgb(12, 6, 39);
}

ion-menu::part(container) {
  --ion-background-color: #222222;
  box-shadow: 16px 16px 16px #F079F2;
}

ion-item {
  ion-label{
    color: white;
  }
  ion-icon{
    color: white;
  }
  
}

ion-title{
  color: white;
}