.fixed-bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px; /* Ajusta la altura del menú según tus necesidades */
  display: flex;
  align-items: center;
  padding: 10px;
}

.fixed-bottom-menu ion-icon {
  color: #0d0d0d;
  font-size: 25px; /* Ajusta el tamaño de los íconos según sea necesario */
  margin-right: 10px; /* Espacio entre los íconos y el texto, ajusta según sea necesario */
}

ion-tab-button {
  font-size: 15px;
  color: #0d0d0d;
}
ion-tabs{
  --ion-background-color:#79F2E6;
}