/*FONDO*/
ion-content {
  --background: white;
}

/*botones*/
.btn {
  --background: #7CC9CF;
}

ion-button {
  --background: #0C909C;
}

ion-input {
  font-size: 15px;
  color: black;
  font-family: 'Montserrat';

  ion-input label {
    font-weight: bold;
  }
}

.foto{
  margin-top: -60px;
  margin-right: 120px;
  --background:#3D2652;
}

.aletar{
  font-size: 35px;
  color: rgb(95, 94, 94);
  margin-left: 5px ;
}

ion-card {
  border-radius: 16px;
  border: 3px solid #3D2652;
  box-shadow: #3D2652;
  width: 380px;
  margin-top: 10px;
  margin-bottom: 65px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.x{
  margin-left: 45px;
  margin-top: -50px; 
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgb(95, 94, 94);
  font-size: 12px; 
}

.sin {
  border: none;
  box-shadow: none;
  height: 170px;
}

/*titulos*/

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

ion-card-title {
  color: black;
  text-align: center;
  margin: 5px;
  font-family: 'Montserrat';
}

//el avatar del usuario:
ion-avatar {
  width: 150px;
  height: 150px;
  border: 5px solid #0C909C;
  margin-left: 125px;

  ion-avatar img {
    width: 150px;
    height: 150px;

  }
}

/* Ajustes para dispositivos específicos */
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
  ion-card-title {
    font-size: 30px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .ion-title {
    font-size: 40px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }
}