/*FONDO*/
ion-content {
    --background: url(https://w0.peakpx.com/wallpaper/955/141/HD-wallpaper-purple-science-tech.jpg);
  }
  
  ion-img {
    width: 300px;
    height: 300px;
  }
  
  ion-card {
    box-shadow: 2px 2px 2px #79F2E6;
    border-radius: 16px;
    background-color: #010626;
    height: 460px;
    max-width: 350px;
    margin: 160px auto; /* Esto centrará horizontalmente la tarjeta */
  }
  
  /*titulos*/
  
  @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  
  p {
    color: white;
    font-size: 15px;
    text-align: left;
    font-family: 'ADLaM Display', cursive;
  }
  
  ion-card-title {
    color: white;
    font-size: 40px;
    /* Ajusta el tamaño del título según tus preferencias */
    margin: 5px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
  }
  
  .ion-title {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    text-align: center;
    margin: 5px;
  }
  
  /* Estilo para los mensajes de error */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Ajustes para dispositivos específicos */
  @media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
    ion-card-title {
      font-size: 30px;
      /* Ajusta el tamaño del título para pantallas más pequeñas */
    }
  
    .ion-title {
      font-size: 40px;
      /* Ajusta el tamaño del título para pantallas más pequeñas */
    }
  }