<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--################################################PRODUCTOS########################################-->
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-card-title>Relojes Digitales</ion-card-title>

    <ion-row>
      <!--PRIMER PRODUCTO-->
      <p [routerLink]="['/rd2']">
        <ion-card>
          <ion-img src="assets/digitales/rd2.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Digital negro<br> con borde azul</ion-card-title>
            <ion-card-content>
              <p>$61.990</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/rd5']">
        <ion-card>
          <ion-img src="assets/digitales/rd5.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Digital<br>negro</ion-card-title>
            <ion-card-content>
              <p>$54.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/rd6']">
        <ion-card>
          <ion-img src="assets/digitales/rd6.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Reloj Digital<br>blanco</ion-card-title>
            <ion-card-content>
              <p>$194.550</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card><br><br>
      </p>
    </ion-row>
  </ion-grid>
  <app-componente2></app-componente2>
</ion-content>