<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
  <!--################################################PRODUCTOS########################################-->
<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/AUDIFONOS GAMERS/ag5.jpeg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo">Audífonos gamers lila con blanco</ion-card-title>
        <br>
        <p class="subti" style="font-size: 25px;">Precio: $35.000</p>
        <p class="subti">Descripción:</p>
        <p>Auriculares gamers lila y blanco: diseño atractivo, audio inmersivo,
           comodidad asegurada. Perfectos para quienes buscan rendimiento y estilo en un solo paquete.</p>
          <br>
          <ion-button [routerLink]="['/carrito']">Agregar al carrito</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
  <app-componente2></app-componente2>
</ion-content>