/*FONDO*/
ion-content {
  --background: white;
}

/*botones*/

ion-button {
  --background: red;
  margin-left: 20px;
}


/*titulos*/

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

ion-card-title {
  color: black;
  text-align: center;
  margin: 5px;
  font-family: 'Montserrat';
}

//el avatar del usuario:
ion-avatar {
  width: 80px;
  height: 80px;
  border: 5px solid #0C909C;

  ion-avatar img {
    width: 80px;
    height: 80px;

  }
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  --background: #0C909C;
}

/* Ajustes para dispositivos específicos */
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
  ion-card-title {
    font-size: 30px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .ion-title {
    font-size: 40px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }
}