<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-title>Nuestros Usuarios</ion-card-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button class="center-button" [routerLink]="['/nuevo-admin']">Agregar nuevo admin</ion-button>

  <ion-list *ngFor="let usuario of usuarios">
    <ion-item style="color: black; text-align: left; font-family: 'Montserrat';">
      <ion-avatar aria-hidden="true" slot="start">
        <img [src]="usuario.fotoU || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
      </ion-avatar>
      {{ usuario.nombreU }} {{ usuario.apellidoU }} - {{ usuario.correoU }}
      <ion-button (click)="eliminarUsuario(usuario)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <!--MENU DOS-->
  <app-componente2></app-componente2>
</ion-content>