<ion-header [translucent]="true">
</ion-header>

<style>
  /* Importar la fuente Montserrat */
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

  ion-card-title {
    font-family: 'Tilt Prism', cursive;
    font-size: 35px;
    display: flex;
    justify-content: center;

  }

  .container {
    display: flex;
    justify-content: center;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro */
    height: 150vh;
    /* Opcional: ajusta la altura del contenedor al 100% del viewport */
  }

  /*este es el fondo*/
  ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
  }
</style>

<ion-content class="fondo" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Carrito de compras!</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <form id="registration-form">
          <ion-row >
            <ion-col size="6">
              <ion-card size="3">
                <ion-img src="assets/apple1.jpg" alt="Producto"></ion-img>
                <ion-card-header>
                  <ion-card-title>Apple watch</ion-card-title>
                  <p class="card-text">Precio: $23.000</p>
                  <!--Botones para la cantidad de los productos-->
                  <ion-button shape="round" color="success">+</ion-button>
                  <ion-button shape="round" color="success">-</ion-button>
                  <ion-input type="" required readonly class="readonly-input" value="Cantidad:1"></ion-input>
                </ion-card-header>
                <ion-card-content>
                  <ion-button color="danger">Eliminar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            <ion-col size="6">
              <ion-card size="3">
                <ion-img src="assets/s1.jpg" alt="Producto"></ion-img>
                <ion-card-header>
                  <ion-card-title>Samsung watch</ion-card-title>
                  <p class="card-text">Precio: $85.000</p>
                  <ion-button shape="round" color="success">+</ion-button>
                  <ion-button shape="round" color="success">-</ion-button>
                  <ion-input type="" required readonly class="readonly-input" value="Cantidad:1"></ion-input>
                </ion-card-header>
                <ion-card-content>
                  <ion-button color="danger">Eliminar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <br>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Seleccione sucursal de retiro</ion-label>
              <ion-select>
                <ion-select-option>Sucursal paseo Ahumada 232</ion-select-option>
                <ion-select-option>Sucursal Providencia #843, piso 2, local 24</ion-select-option>
              </ion-select>
            </ion-item>


            <ion-item>
              <ion-label position="floating">¿Quien retirara el producto?</ion-label>
              <ion-select>
                <ion-select-option>Juan Perez</ion-select-option>
                <ion-select-option>Mauricio Perez</ion-select-option>
                <ion-select-option>Otro </ion-select-option>
                <ion-input type="text" name="pRetiro" required></ion-input>
              </ion-select>
            </ion-item>
          </ion-card>

          <ion-card>
            <h1>Total: $25.000</h1>
          </ion-card>


          <ion-button expand="full" type="submit">Comprar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>