<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
  <!--################################################PRODUCTOS########################################-->

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/SMARTWATCH/rs2.jpeg" alt="" class="card-image">
      <ion-card-content class="card-content">
        <ion-card-title class="titulo">Reloj smartwatch naranja </ion-card-title>
        <p class="subti" style="font-size: 25px;">Precio: $240.000</p>
        <p class="subti">Descripción:</p>
        <p>Este reloj
          combina estilo y tecnología. Con 
          pantalla táctil, se enlaza con tu 
          teléfono para notificaciones y 
          seguimiento de salud. Su llamativo 
          color naranja y opciones de personalización 
          lo hacen funcional y a la moda.</p>
        <ion-button [routerLink]="['/carrito']">Agregar al carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <app-componente2></app-componente2>
</ion-content>