<ion-header [translucent]="true">
</ion-header>

<style>
  /* Importar la fuente Montserrat */
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

  ion-card-title {
    font-family: 'Tilt Prism', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;

  }

  .container {
    display: flex;
    justify-content: center;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro */
    height: 120vh;
    /* Opcional: ajusta la altura del contenedor al 100% del viewport */
  }

  /*este es el fondo*/
  ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
  }
</style>

<ion-content class="fondo" [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Editar producto:</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <form id="registration-form">

          <ion-item>
            <ion-label position="floating">Id del producto</ion-label>
            <ion-input type="text" name="id" required readonly class="readonly-input"></ion-input>
          </ion-item>
          <!--El required es para que solo se pueda ver y no cambiar el campo que ya esta escrito-->
          <ion-item>
            <ion-label position="floating">Nombre para el producto: </ion-label>
            <ion-input type="text" name="nombreP"  ></ion-input>
          </ion-item>
          

          <ion-item>
            <ion-label position="floating" onlyread >Descripción del producto</ion-label>
            <ion-input type="text" name="descripcion" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" onlyread >Precio:</ion-label>
            <ion-input type="text" name="precio" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Categoria para el producto</ion-label>
            <ion-select>
              <ion-select-option>Reloj digital</ion-select-option>
              <ion-select-option>Reloj analógico</ion-select-option>
              <ion-select-option>Audifono bluetooth</ion-select-option>
              <ion-select-option>Audifono gamer</ion-select-option>
              <ion-select-option>Audifonos deportivos</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Imagen(es) del producto</ion-label>
            <br>
            <ion-input type="file" name="imagen" required></ion-input>
          </ion-item>
          
  
        </form>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>