<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrito2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!carritoVacio">
    <ion-item *ngFor="let detalle of listaDetalle">
      <!-- Muestra los detalles del carrito, puedes personalizar según tus necesidades -->
      <ion-label>{{ detalle.idProducto }}</ion-label>
      <ion-label>{{ detalle.nombreProducto }}</ion-label>
      <ion-note slot="end">{{ detalle.cantidad }}</ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="carritoVacio">
    El carrito está vacío.
  </div>
</ion-content>