<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrito2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- carrito.page.html -->
  <div *ngIf="carritoVacio; else carritoNoVacio">
    Carrito vacío
  </div>
  <ng-template #carritoNoVacio>
    <!-- Mostrar los detalles del carrito -->
    <ion-list *ngFor="let detalle of listaDetalle | async">
      <!-- Muestra los detalles del carrito, puedes personalizar según tus necesidades -->
      <ion-item>
        <ion-label>{{ detalle.nombreProducto }}</ion-label>
        <ion-note slot="end">{{ detalle.cantidad }}</ion-note>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>