<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrito2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!carritoVacio">
    <ion-item *ngFor="let detalle of listaDetalle">
      <!-- Muestra los detalles del carrito, puedes personalizar según tus necesidades -->
      <ion-label>{{ detalle.idProducto }}</ion-label>
      <br>
      <ion-label> {{ detalle.precio }} </ion-label>
      <br>
      <!--<ion-label> {{ detalle.subtotalD }} </ion-label>-->
      <br>
      <!--<ion-img [src]="detalle.foto" alt="aqui habia una imagen"></ion-img>-->
    </ion-item>
    
  </ion-list>
  
  <div *ngIf="carritoVacio">
    El carrito está vacío.
  </div>
</ion-content>