<ion-header [translucent]="true">
  <ion-toolbar>
    <!--LOGO DEL CARRITO-->
    <div class="demo-section" slot="end">
      <mat-icon matBadge="0" matBadgeColor="primary" [routerLink]="['/carrito']"><ion-icon style="width: 30px; height: 30px; margin-right: 80px;" name="cart-outline"></ion-icon></mat-icon>
    </div>
    <!--Menu de la busqueda-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--El buscador-->
    <div class="search-container">
      <ion-searchbar class="center-search" animated="true" placeholder="Buscar"></ion-searchbar>
    </div>
    <!--este es el menu del usuario-->
    <ion-chip id="popover-button" slot="end" size="90px">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Cuenta</ion-label>
    </ion-chip>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/datos-personales']">Perfil</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/']">Mis compras</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/home']">Cerrar Sesión</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-title>Datos personales</ion-card-title>
        <ion-card-content>
          <ion-input label="Nombre:" type="text" label-placement="floating" fill="outline" placeholder="Mario Jose"></ion-input>
          <br>
          <ion-input label="Apellido:" type="text" label-placement="floating" fill="outline" placeholder="Castillo Lopez"></ion-input>
          <br>
          <ion-input label="Correo electrónico:" type="email" label-placement="floating" required readonly fill="outline" placeholder="profeponga7@gmail.com"></ion-input>
          <br>
          <ion-input label="Rut:" type="text" label-placement="floating" fill="outline" placeholder="26.098.098-2"></ion-input>
          <br>
          <ion-input label="Nombre de otra persona para retiro:" type="text" label-placement="floating" fill="outline" placeholder="Castillo Lopez"></ion-input>
          <br>
          <ion-button expand="50px" style="align-content: center;align-items: center;display: flex;" type="submit">Guardar cambios</ion-button>
        </ion-card-content>
      </ion-card>
      
    </ion-row>
  </ion-grid>
</ion-content>