<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-title style="text-align: center;">Mis datos</ion-card-title>
  </ion-toolbar>
</ion-header>

<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <!--CARD DE LA FOTO-->
  <ion-card class="sin">
    <ion-avatar>
      <img [src]="fotoUEnviada || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>
    <!--MENSAJE DE BIENVENIDA Y CON EL NOMBRE DEL USUARIO: -->
    <p>Hola querid@</p><br>
  </ion-card>

  <!--LOS DATOS DEL USUARIO-->
  <ion-card>
    <ion-card-content>
      <!--NOMBRE-->
      <div class="input-row">
        <ion-input label="Nombre:" type="text" name="nombre" minlength="3" maxlength="15" 
          (keydown)="onKeyDown($event)" [(ngModel)]="nombreEnviado" #nombreEnviadoModel="ngModel"
          label-placement="floating" fill="outline" [value]="nombreEnviado" >
        </ion-input>
      </div>
      <br>
      <!--APELLIDO-->
      <ion-input label="Apellido:" type="text" name="apellido" minlength="3" maxlength="15" 
        (keydown)="onKeyDown($event)" [(ngModel)]="apellidoEnviado" #apellidoEnviadoModel="ngModel"
        label-placement="floating" fill="outline" [value]="apellidoEnviado" >
      </ion-input>
      <br>
      <!--CORREO-->
      <ion-input label="Correo electrónico:" type="email" label-placement="floating"  readonly fill="outline"
        [value]="emailEnviado" ></ion-input>
      <br>
      <!--RUT-->
      <ion-input label="Rut:" type="text" label-placement="floating" fill="outline" [value]="rutEnviado" 
        readonly placeholder="26.098.098-2" ></ion-input>
      <br>
      <!--BOTON-->
      <ion-button  style="align-content: center;align-items: center;display: flex;"
        [routerLink]="['/modificar-clave']">Modificar contraseña</ion-button>
      <ion-button class="btn" style="align-content: center;align-items: center;display: flex;"
        (click)="modificar()">Modificar datos</ion-button>
    </ion-card-content>
  </ion-card>
  <!--MENU DE ABAJO-->
  <app-componente2></app-componente2>
</ion-content>