/*FONDO*/
ion-content {
  --background: url(https://w0.peakpx.com/wallpaper/955/141/HD-wallpaper-purple-science-tech.jpg);
}

ion-img {
  width: 300px;
  height: 300px;
}

ion-card {
  box-shadow: 2px 2px 2px #79F2E6;
  border-radius: 16px;
  background-color: #010626;
  height: 460px;
  max-width: 460px;
  margin: 120px auto; /* Esto centrará horizontalmente la tarjeta */
}

/*titulos*/

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

p {
  color: white;
  font-size: 15px;
  text-align: left;
  font-family: 'ADLaM Display', cursive;
}

ion-card-title {
  color: white;
  font-size: 40px;
  /* Ajusta el tamaño del título según tus preferencias */
  margin: 5px;
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

.ion-title {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

/* Estilo para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.circle {
  margin: 20px auto; /* Centra el círculo horizontalmente y añade espacio arriba */
  width: 150px; /* Ancho del círculo */
  height: 150px; /* Altura del círculo */
  background-color: #ffffff; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  position: absolute; /* Colocación absoluta para superponer */
  top: 17%; /* Centra verticalmente el círculo en el medio de la pantalla */
  left: 50%; /* Centra el círculo horizontalmente */
  transform: translate(-50%, -50%); /* Centra horizontal y verticalmente el círculo */
  z-index: 1; /* Asegura que esté por encima del contenido */
  border: 2px solid white; /* Borde blanco de 2 píxeles */
}

.circle-inner {
  width: 100%; /* Ancho completo del círculo interno */
  height: 100%; /* Altura completa del círculo interno */
  overflow: hidden; /* Oculta el contenido que se desborde del círculo */
  border-radius: 50%; /* Asegura que el contenido siga siendo circular */
}

ion-img {
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  object-fit: cover; /* Ajusta la imagen para que se ajuste al círculo sin deformación */
}


/* Ajustes para dispositivos específicos */
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
  ion-card-title {
    font-size: 30px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .ion-title {
    font-size: 40px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }
}