<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--################################################PRODUCTOS########################################-->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card-title>Relojes Analógicos</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <ion-card *ngFor="let producto of ArregloMostrar">
        <ion-img [src]="producto.foto" alt="aqui habia una imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-title">{{ producto.nombreProducto }}</ion-card-title>
          <ion-card-content>
            <p>${{ producto.precio }}</p>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
  <br><br><br>
  <app-componente2></app-componente2>
</ion-content>