/* Estilos para las imágenes */
ion-img {
  width: auto;
  height: auto;
}

/* Estilos generales para las tarjetas */
ion-card {
  background-color: #050025;
  width: max-content;
  height: max-content;
  border: 3px solid #050025;
}

/* Estilos para las tarjetas de productos */
ion-grid ion-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

ion-grid ion-card {
  margin: 10px;
  max-width: 350px;
  /* Ajusta el ancho de las tarjetas de productos */
}

ion-img.img-container {
  max-width: 100%;
  height: auto;
}

/* Estilos para los títulos y textos */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

ion-card-title {
  color: black;
  font-size: 35px;
  margin: 2px;
  margin-top: 5px;
  text-align: center;
  font-family: 'Montserrat';
}

.ion-title {
  color: white;
  font-size: 25px;
  text-align: left;
  margin: 3px;
  font-family: 'Montserrat';
}

/* Estilos para el fondo */
ion-content {
  --background: white;
}

/* Estilos para las pipes (tabla) */
p{
  align-items: center;
  text-align: left;
  color: white;
  font-size: 30px;
  font-family: 'Montserrat';
}

//botones:
ion-button {
  --background: #7CC9CF;
  display: flex;
  justify-content: center;
  align-items: center;
}

//esto es del toolbar:
//COSA DEL CARRITO::after
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section+.demo-section {
  margin-top: 16px;
}

.demo-section {
  margin-right: 20px;
  /* Agrega margen al lado derecho del primer elemento */
  display: flex;
  /* Utiliza flexbox para alinear verticalmente los elementos */
  align-items: center;
  /* Centra verticalmente los elementos */
}


//BUSQUEDA:
/* Estilos para el contenedor que contiene el ion-searchbar */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  --ion-background-color: #050025;
}

ion-searchbar {
  color: #ffffff;
  width: 400px;
  text-align: left;
}

ion-toolbar {
  --background: #ffffff;
}
