/* Estilos para pantallas grandes */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.custom-card {
    box-shadow: 0px 2px 6px #69348b;
    background: #010626;
    display: flex;
    align-items: center;
    width: 95%;
}

.card-image {
    width: 125%;
    max-width: 500px;
    object-fit: cover;
}

.card-content {
    flex: 10;
    padding: 20px;
    text-align: left;
    align-self: flex-start;
}

p {
    color: white;
    font-size: 15px;
    text-align: left;
    font-family: 'ADLaM Display';
}

.subti {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    text-align: left;
    margin: 2px;
}

ion-button {
    --background: #F079F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content {
    --background: url(https://w0.peakpx.com/wallpaper/955/141/HD-wallpaper-purple-science-tech.jpg);
}

/* Estilos para pantallas pequeñas (por ejemplo, cuando el ancho de la ventana es menor a 768px) */
@media screen and (max-width: 480px) {
    .custom-card {
        flex-direction: column;
        /* Cambia la dirección de flex para apilar contenido */
        width: 100%;
    }

    .card-image {
        width: 100%;
        max-width: none;
        /* Elimina la limitación del ancho máximo */
    }

    .card-content {
        padding: 10px;
        /* Reduce el espacio alrededor del contenido */
        text-align: center;
        /* Centra el texto en pantallas más pequeñas */
    }

    .titulo {
        font-size: 25px;
        /* Reduce el tamaño del título */
    }
}