<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- LOGO DEL CARRITO -->
    <div class="demo-section" slot="end">
      <mat-icon [matBadge]="0" matBadgeColor="primary" [routerLink]="['/carrito']" aria-hidden="false">
        <ion-icon style="width: 30px; height: 30px; margin-right: 80px; color: #0D0D0D;;" name="cart-outline"></ion-icon>
      </mat-icon>
    </div>
  
    <!-- MENÚ DE BÚSQUEDA -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: #0D0D0D;;"></ion-menu-button>
    </ion-buttons>
  
    <!-- EL BUSCADOR -->
    <div class="search-container">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchProducts()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <ion-card-title>Agregar producto</ion-card-title>
  <br>
  <ion-grid>
    <ion-card>
      <!--AQUI VA LA FOTO-->
      <ion-item *ngIf="imagenPValue">
        <img [src]="imagenPValue" alt="Imagen del producto">
      </ion-item>
      <!--esto es del nombre del producto-->
      <ion-card-content>
        <ion-input label="Nombre del producto:" label-placement="floating" fill="outline" type="text" name="nombreP"
          minlength="3" maxlength="1500" required [(ngModel)]="nombrePValue" #nombrePModel="ngModel"></ion-input><br>
        <!--VALIDACION-->
        <div class="error-message" *ngIf="nombrePModel.invalid && (nombrePModel.dirty || nombrePModel.touched)">
          <p *ngIf="nombrePModel.errors?.['required']">El nombre del producto es obligatorio.</p>
          <p *ngIf="nombrePModel.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</p>
          <p *ngIf="nombrePModel.errors?.['maxlength']">El nombre no debe exceder los 15 caracteres.</p>
        </div>
        <!--esto es de la descripcion del producto-->
        <ion-textarea label="Descripcion:" labelPlacement="floating" fill="outline" type="text" name="descripcionP"
          minlength="3" maxlength="1500" required [(ngModel)]="descripcionPValue"
          #descripcionPModel="ngModel"></ion-textarea><br>
        <!--VALIDACION-->
        <div class="error-message"
          *ngIf="descripcionPModel.invalid && (descripcionPModel.dirty || descripcionPModel.touched)">
          <p *ngIf="descripcionPModel.errors?.['required']">La descripción del producto es obligatorio.</p>
          <p *ngIf="descripcionPModel.errors?.['minlength']">La descripción debe tener al menos 3 caracteres.</p>
          <p *ngIf="descripcionPModel.errors?.['maxlength']">La descripción no debe exceder los 15 caracteres.</p>
        </div>
        <!--precio del producto:-->
        <ion-input label="Precio del producto:" label-placement="floating" fill="outline" type="number" name="precioP"
          min="1000" required [(ngModel)]="precioPValue" #precioPModel="ngModel"
          (input)="limitarLongitudPrecio($event); validatePrecio(precioPValue)"></ion-input><br>
        <!--VALIDACION-->
        <div class="error-message" *ngIf="!precioPModel.valid && (precioPModel.dirty || precioPModel.touched)">
          <p *ngIf="precioPModel.errors?.['required']">El precio del producto es obligatorio.</p>
          <p *ngIf="precioPModel.errors?.['nocero']">El primer dígito no puede ser 0.</p>
        </div>
        <!--categoria del producto:-->
        <ion-select label="Categorias" label-placement="floating" fill="outline" required name="categoriaP"
          [(ngModel)]="categoriaPValue" #categoriaPModel="ngModel">
          <ion-select-option *ngFor="let categoria of arregloCategoria"
            value="{{ categoria.idCategoria }}">{{categoria.nombreCategoria}}
          </ion-select-option>
        </ion-select><br>
        <!--VALIDACION-->
        <div class="error-message"
          *ngIf="categoriaPModel.invalid && (categoriaPModel.dirty || categoriaPModel.touched)">
          <p *ngIf="categoriaPModel.errors?.['required']">La categoría es obligatoria.</p>
        </div>
        <!--STOCK DEL PRODUCTO-->
        <ion-input label="Stock del producto:" label-placement="floating" fill="outline" type="number" name="stockP"
          min="1" required [(ngModel)]="stockPValue" #stockPModel="ngModel"></ion-input><br>
        <!--VALIDACION-->
        <div class="error-message" *ngIf="!stockPModel.valid && (stockPModel.dirty || stockPModel.touched)">
          <p *ngIf="stockPModel.errors?.['required']">El stock del producto es obligatorio.</p>
          <p *ngIf="stockPModel.errors?.['min']">El stock debe ser mayor o igual a 0.</p>
        </div>
        <!--tomar la foto-->
        <ion-button (click)="takePicture()" expand="full" >Tomar/subir Foto</ion-button>
        <!--boton-->
        <ion-button expand="full" class="guardar" (click)="insertar()" [routerLink]="['/tienda']"
          [disabled]="!nombrePModel.valid || !descripcionPModel.valid || !precioPModel.valid  || !categoriaPModel.valid ||!imagenPValue ">
          agregar producto</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <br><br><br><br>
  <app-componente2></app-componente2>
</ion-content>