ion-content {
  --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
}

ion-searchbar {
  width: 400px;
  text-align: left;
}
ion-card {
height: 750px;
width: 500px;
background: #222222;
}

/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

ion-card-title {
color: white;
font-family: 'Abril Fatface', cursive;
font-size: 50px;
display: flex;
justify-content: center;


}

.ion-card-content {
font-family: 'Abril Fatface', cursive;
font-size: 30px;
display: flex;
justify-content: center;

}

.container {
display: flex;
justify-content: center;
/* Alineación horizontal al centro */
align-items: center;
/* Alineación vertical al centro */
height: 750px;
}

//cuando este pequeña la pantalla:
@media(width:412px) or (width: 425px) or (width: 389px){
ion-card {
  margin: auto 50px;
  height: 770px;
  width: 600px;
  background: #222222;
}
ion-card-title{
  font-size: 25px;
  justify-content: center;
}

}

/* Estilo para los mensajes de error */
.error-message {
color: red;
font-size: 14px;
margin-top: 5px;
}