/*FONDO*/
ion-content {
  --background: white;
}

/*botones*/
.btn {
  --background: #3D2652;
}

ion-button {
  --background: #0C909C;
}

ion-input {
  font-size: 15px;
  color: black;
  font-family: 'Montserrat';

  ion-input label {
    font-weight: bold;
  }
}

ion-textarea {
  font-size: 15px;
  color: black;
  font-family: 'Montserrat';
}

ion-select {
  font-size: 15px;
  color: black;
  font-family: 'Montserrat';
}

ion-select-option {
  font-size: 15px;
  color: black;
  font-family: 'Montserrat';
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

ion-card {
  border-radius: 16px;
  border: 3px solid #3D2652;
  box-shadow: #3D2652;
  width: 380px;
  margin-top: 10px;
  margin-bottom: 55px;
}

p {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: bold;
}

/*titulos*/

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

ion-card-title {
  color: black;
  text-align: center;
  margin: 5px;
  font-family: 'Montserrat';
}


/* Ajustes para dispositivos específicos */
@media ((width: 412px) or (width: 425px) or (width: 384px)) and (height: 857px) {
  ion-card-title {
    font-size: 30px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .ion-title {
    font-size: 40px;
    /* Ajusta el tamaño del título para pantallas más pequeñas */
  }
}