<ion-toolbar>
  <!-- LOGO DEL CARRITO -->
  <div class="demo-section" slot="end">
    <mat-icon [matBadge]="cantidad" matBadgeColor="primary" [routerLink]="['/carrito']" aria-hidden="false">
      <ion-icon style="width: 30px; height: 30px; margin-right: 80px; color: #0D0D0D;;" name="cart-outline"></ion-icon>
    </mat-icon>
  </div>

  <!-- MENÚ DE BÚSQUEDA -->
  <ion-buttons slot="start">
    <ion-menu-button style="color: #0D0D0D;;"></ion-menu-button>
  </ion-buttons>

  <!-- EL BUSCADOR -->
  <div class="search-container">
    <ion-searchbar style="color: white;" class="center-search" animated="true" placeholder="Buscar"></ion-searchbar>
  </div>
</ion-toolbar>