<ion-header [translucent]="true">
</ion-header>

<style>
  ion-card-title {
    font-family: 'arial', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;

  }

  .ion-card-content {
    font-family: 'arial', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;

  }

  .container {
    display: flex;
    justify-content: center;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro */
    height: 95vh;
    /* Opcional: ajusta la altura del contenedor al 100% del viewport */
  }

  /*este es el fondo*/
  ion-content {
    --background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
  }

</style>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Inicio de sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form id="registration-form" (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label position="floating">Correo electrónico:</ion-label>
            <ion-input type="email" placeholder="juanito.perez@gmail.com" (keydown)="onKeyDown($event)" required
                       [(ngModel)]="email" name="email" #emailInput="ngModel"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
          </ion-item>
          <ion-note *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            Ingresa un correo electrónico válido y no lo dejes vacío.
          </ion-note>

          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" placeholder="********************" required [(ngModel)]="password" name="password"
              #passwordInput="ngModel" minlength="3" maxlength="15" (keydown)="onKeyDown($event)"
              pattern="^(?=.*\d{0,})(?=.*[a-zA-Z])(?=.*[!@#$%^&*-_.,])(?!.*\s).{3,15}$"></ion-input>
          </ion-item>
          

          <br>
          <ion-button [routerLink]="['/tienda']"  expand="full" [disabled]="!emailInput.valid || !passwordInput.valid" type="submit">Iniciar sesión</ion-button>

          <p1 [routerLink]="['/registro']">¿Aún no tienes una cuenta? Regístrate aquí</p1>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
