<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>
<!--################################################PRODUCTOS########################################-->
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-card-title>Audifonos Inalámbricos</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ai1']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a1.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>morados</ion-card-title>
            <ion-card-content>
              <p>$39.990</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/ai4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a4.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>azules</ion-card-title>
            <ion-card-content>
              <p>$42.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ai6']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a6.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>verdes</ion-card-title>
            <ion-card-content>
              <p>$269.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>

</ion-content>