<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Menu de la busqueda-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--El buscador-->
    <ion-searchbar slot="end" animated="true" placeholder="Buscar"></ion-searchbar>
    <!--este es el menu del usuario-->
    <ion-chip id="popover-button" slot="end" size="90px">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Cuenta</ion-label>
    </ion-chip>
    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/datos-personales']">Perfil</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/']">Mis compras</ion-item>
            <ion-item [button]="true" [detail]="false" [routerLink]="['/home']">Cerrar Sesión</ion-item>

            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<!--#############################################PRODUCTOS################################################-->
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-card-title>Audifonos Inalámbricos</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ai1']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a1.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>morados</ion-card-title>
            <ion-card-content>
              <p>$39.990</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDO PRODUCTO-->
      <p [routerLink]="['/ai4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a4.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>azules</ion-card-title>
            <ion-card-content>
              <p>$42.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ai6']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS BLUTU/a6.jpg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audifonos Bluetooth<br>verdes</ion-card-title>
            <ion-card-content>
              <p>$269.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>

</ion-content>