<ion-header [translucent]="true">
  <app-componente1></app-componente1>
</ion-header>

<!--################################################PRODUCTOS########################################-->
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-card-title>Audífonos Gamers</ion-card-title>
    <!--PRIMER PRODUCTO-->
    <ion-row>
      <p [routerLink]="['/ag3']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag3.webp" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audífonos gamers<br>rojos con negro</ion-card-title>
            <ion-card-content>
              <p>$50.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--SEGUNDA PRODUCTO-->
      <p [routerLink]="['/ag4']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag4.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audífonos gamers<br>negro con naranja</ion-card-title>
            <ion-card-content>
              <p>$44.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
      <!--TERCER PRODUCTO-->
      <p [routerLink]="['/ag5']">
        <ion-card>
          <ion-img src="assets/AUDIFONOS GAMERS/ag5.jpeg" alt="aqui habia una imagen"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-title">Audífonos gamers<br>lila con blanco</ion-card-title>
            <ion-card-content>
              <p>$139.000</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </p>
    </ion-row>
  </ion-grid>
</ion-content>