<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-title>Modificar Datos</ion-card-title>
  </ion-toolbar>
</ion-header>

<!--#############################################PRODUCTOS################################################-->

<ion-content class="fondo" [fullscreen]="true">
  <ion-card class="sin">
    <ion-avatar>
      <img [src]="fotoUEnviada || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>
    <ion-button (click)="takePicture()" class="foto"><ion-icon name="camera-outline"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <!-- NOMBRE -->
      <div class="input-row" class="con">
        <ion-input label="Nombre:"  type="text" label-placement="floating" fill="outline" placeholder="Mario"
          name="nombreEnviado" required [(ngModel)]="nombreEnviado" (ionBlur)="validarFormulario()"
          (keydown)="valiNombre($event)">
        </ion-input>
      </div>
      <!-- VALIDACION -->
      <div class="error-message" *ngIf="errors.nombreEnviado">{{ errors.nombreEnviado }}</div><br>
      <!-- APELLIDO -->
      <ion-input label="Apellido:" class="con" type="text" label-placement="floating" fill="outline" placeholder="Lopez"
        name="apellidoEnviado" required [(ngModel)]="apellidoEnviado" (ionBlur)="validarFormulario()"
        (keydown)="ValiApellido($event)">
      </ion-input>
      <!-- VALIDACION -->
      <div class="error-message" *ngIf="errors.apellidoEnviado">{{ errors.apellidoEnviado }}</div><br>
      <!-- EMAIL -->
      <ion-input label="Email:" type="text" label-placement="floating" fill="outline" name="email"
        [(ngModel)]="emailEnviado" disabled></ion-input><br>
      <!-- RUT -->
      <ion-input label="RUT:" type="text" label-placement="floating" fill="outline" name="rut" disabled
        [(ngModel)]="rutEnviado">
      </ion-input><br>
      <!--MENSAJE DE ADVERTENCIA-->
      <ion-icon class="aletar" name="alert-circle-outline"></ion-icon>
      <p class="x">
        Por seguridad no puede cambiar ni su correo ni su rut, si requiere de cambio cree otra cuenta.
      </p>
      <!--BOTON-->
      <ion-button expand="50px" style="align-items: center;display: flex;" [disabled]="!formularioValido"
        class="guardar" (click)="editar()" [routerLink]="['/datos-personales']">Guardar cambios</ion-button>

    </ion-card-content>
  </ion-card>
  <app-componente2></app-componente2>
</ion-content>