<ion-header [translucent]="true">
</ion-header>



<ion-content  [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-card>
        <br><br>
        <ion-card-title style="text-align: center; margin: auto;">Bienvenido a </ion-card-title>
        <br>
        <img alt="les juro que aqui habia una foto" src="assets/fondo.png" />
        <ion-card-header>
          <!--AQUI IRAN LOS BOTONES-->
          <button mat-raised-button color="primary" [routerLink]="['/registro']">Registrarse</button>
          <br>
          <button mat-raised-button color="primary" [routerLink]="['/inicio-sesion']">Iniciar sesión</button>
          <br>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>





</ion-content>